
{% extends 'user/base.html'%}
{% load static %}

	{% block content%}

	<div id="domain" class="section wb bannier">
        <div class="container">
            <div class="row text-center pt-3 mb-0 ">

               
				<div class="col-lg-12 mt-3 pt-3 p-4 h-40">
                    <div class=" mt-3 pt-3 customwidget text-center">
                        <h1 class="text-white ">Report Crime today</h1>

                        <a href="{% url 'login' %}" class="hover-btn-new"><span>Login</span></a>
                    </div>
                </div>
				
              
            </div>
        </div>
    </div>
	
	{% endblock content %}
	
	
    

 